<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<!DOCTYPE html>
<html>

<head>
    <title>Login Page</title>
    <!--Made with love by Mutiullah Samim -->

    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
  <header class="masthead">
      <div class="container h-100">
          <div class="col h-100">
              <div class="row-lg-7 my-auto">
                  <h1 class="display-1">RT-Share</h1>
              </div>
              <textarea id="shared-text" class="lined" rows="10" cols="80">
                  this will be updated
              </textarea>
              <div class="code-wrapper" style="display: flex; align-items: center; justify-content: center;">
                <h1 id="sess_id" style="margin-right: 10px;">{{sess_id}}</h1>
                <button class="btn" onclick="copyToClipboard()" style="">
                  <img src="{{url_for('static', filename='icons/clippy.svg')}}" alt="Copy to clipboard">
                </button>
              </div> 
          </div>
      </div>
  </header>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
<script src="{{url_for('static', filename='js/keyboard.js')}}"></script>
<script src="{{url_for('static', filename='js/linenumbers.js')}}"></script>
<script>
  function copyToClipboard() {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val("{{join_link}}").select();
    document.execCommand("copy");
    $temp.remove();
  }
</script>

</html>